@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>BikeSalesApp</h1>
</div>
<p align="center">    <img src="https://cdn.pixabay.com/photo/2015/05/29/19/18/bicycle-789648_960_720.jpg" width="500px" height="300px" /></p>   


